# Base packages:
# Flask
# gunicorn
# psycopg2
black==18.9b0
click==6.7
flasgger==0.9.3
Flask==0.12.2
flask-cors==3.0.8
flask-sqlalchemy==2.4.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
psycopg2-binary==2.8.4
sqlalchemy==1.3.12
Werkzeug==0.13
wtforms==2.2.1
